.analytics {
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;

  position: relative;
}

.analytics>.card-dates {
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #DFD9EF;
  background: #FFF;

  flex-direction: row;
}

.analytics>.card-dates>.leftside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 50%;
}

.analytics>.card-dates>.leftside>.text>span {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.card-dates>.rightside {
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.analytics>.card-dates>.rightside>.text>span {
  color: #818181;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.analytics>.activity {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.analytics>.activity>.heading {
  margin-bottom: 0.5rem;
}

.analytics>.activity>.heading>span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.activity>.activity-card {
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;

  border-radius: 20px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);
}

.analytics>.activity>.activity-card>.section-1,
.analytics>.activity>.activity-card>.section-2,
.analytics>.activity>.activity-card>.section-3,
.analytics>.activity>.activity-card>.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.analytics>.activity>.activity-card>.section-1>.heading,
.analytics>.activity>.activity-card>.section-2>.heading,
.analytics>.activity>.activity-card>.section-3>.heading,
.analytics>.activity>.activity-card>.section-4>.heading {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

.analytics>.activity>.activity-card>.section-1>.heading>.text>span,
.analytics>.activity>.activity-card>.section-2>.heading>.text>span,
.analytics>.activity>.activity-card>.section-3>.heading>.text>span,
.analytics>.activity>.activity-card>.section-4>.heading>.text>span {
  color: #818181;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.analytics>.activity>.activity-card>.section-1>.text>span,
.analytics>.activity>.activity-card>.section-2>.text>span,
.analytics>.activity>.activity-card>.section-3>.text>span,
.analytics>.activity>.activity-card>.section-4>.text>span {
  color: #150337;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.analytics>.activity>.activity-card>.section-1>.heading>.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(131deg, #A77DFC 0%, #5E17EB 100%);
}

.analytics>.activity>.activity-card>.section-2>.heading>.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #D458FF;
}

.analytics>.activity>.activity-card>.section-3>.heading>.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(131deg, #A77DFC 0%, #5E17EB 100%);
}

.analytics>.activity>.activity-card>.section-4>.heading>.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FD5;
}

.analytics>.daily-chart {
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  border-radius: 20px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  margin-bottom: 1rem;
}

.analytics>.daily-chart>.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.analytics>.daily-chart>.heading>.text>span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.daily-chart>.heading>.icon>button {
  background-image: url(../images/material-symbols_download.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 1.5rem;
  height: 1.5rem;

  border: none;
}

.analytics>.tables {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.analytics>.tables>.table-1,
.analytics>.tables>.table-2 {
  width: 50%;
}

.analytics>.tables>.table-1>.card,
.analytics>.tables>.table-2>.card {
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);
}

.analytics>.tables>.table-1>.card>.card-header,
.analytics>.tables>.table-2>.card>.card-header {
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.analytics>.tables>.table-1>.card>.card-header>.text>span,
.analytics>.tables>.table-2>.card>.card-header>.text>span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-1>.card>.card-body {
  padding: 0;
}

.analytics>.tables>.table-1>.card>.card-body>.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.analytics>.tables>.table-1>.card>.card-body>.table-header>.name>span,
.analytics>.tables>.table-1>.card>.card-body>.table-header>.clicks>span {
  color: rgba(0, 0, 0, 0.50);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.9%;
  letter-spacing: 1.495px;
  text-transform: uppercase;
}

.analytics>.tables>.table-1>.card>.card-body>.table-data {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.analytics>.tables>.table-1>.card>.card-body>.table-data>.card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #DFD9EF;
  background: #FFF;

  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.analytics>.tables>.table-1>.card>.card-body>.table-data>.card>.name {
  width: 90%;
  text-align: start;
}

.analytics>.tables>.table-1>.card>.card-body>.table-data>.card>.clicks {
  width: 10%;
  text-align: end;
}

.analytics>.tables>.table-1>.card>.card-body>.table-data>.card>.name>span {
  color: #8270A3;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-1>.card>.card-body>.table-data>.card>.clicks>span {
  color: #5E17EB;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  white-space: nowrap;
}

.analytics>.tables>.table-2>.card>.card-body>.nav {
  width: max-content;
}

.analytics>.tables>.table-2>.card>.card-body>.nav-tabs>.nav-item>.nav-link {
  color: rgba(21, 3, 55, 0.50);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: none;
}

.analytics>.tables>.table-2>.card>.card-body>.nav-tabs>.nav-item>.nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #621DEC;

  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card {
  padding: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #DFD9EF;
  background: #FFF;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.text,
.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats {
  width: 50%;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.text>span {
  color: #8270A3;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.views>.text-1 {
  color: #5E17EB;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.views>.text-2 {
  color: #525252;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.clicks>.text-1 {
  color: #5E17EB;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.clicks>.text-2 {
  color: #525252;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media(max-width: 690px) {

  .analytics>.card-dates {
    flex-direction: column;
    align-items: center;
  }

  .analytics>.card-dates>.leftside {
    width: 100%;

    justify-content: center;
  }

  .analytics>.card-dates>.rightside {
    width: 100%;

    justify-content: center;
  }

  .analytics>.activity>.activity-card {
    flex-direction: column;
  }

  .analytics>.activity>.activity-card>.section-1,
  .analytics>.activity>.activity-card>.section-2,
  .analytics>.activity>.activity-card>.section-3,
  .analytics>.activity>.activity-card>.section-4 {
    width: 100%;

    padding: 1%;

    justify-content: center;
  }

  .analytics>.tables {
    flex-direction: column;
  }

  .analytics>.tables>.table-1,
  .analytics>.tables>.table-2 {
    width: 100%;
  }
}


@media(max-width: 425px) {

  .analytics>.card-dates>.leftside>.text>span {
    font-size: 14px;
  }

  .analytics>.card-dates>.rightside>.text>span {
    font-size: 11px;
  }

  .analytics>.activity>.heading>span {
    font-size: 20px;
  }

  .analytics>.activity>.activity-card>.section-1>.heading>.text>span,
  .analytics>.activity>.activity-card>.section-2>.heading>.text>span,
  .analytics>.activity>.activity-card>.section-3>.heading>.text>span,
  .analytics>.activity>.activity-card>.section-4>.heading>.text>span {
    font-size: 13px;
  }

  .analytics>.activity>.activity-card>.section-1>.text>span,
  .analytics>.activity>.activity-card>.section-2>.text>span,
  .analytics>.activity>.activity-card>.section-3>.text>span,
  .analytics>.activity>.activity-card>.section-4>.text>span {
    font-size: 20px;
  }

  .analytics>.tables>.table-1>.card>.card-header>.text>span,
  .analytics>.tables>.table-2>.card>.card-header>.text>span {
    font-size: 15px;
  }

  .analytics>.tables>.table-1>.card>.card-body>.table-data>.card>.name>span {
    font-size: 12px;
  }

  .analytics>.tables>.table-1>.card>.card-body>.table-data>.card>.clicks>span {
    font-size: 12px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.nav-tabs>.nav-item>.nav-link {
    font-size: 13px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.nav-tabs>.nav-item>.nav-link.active {
    font-size: 13px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.text>span {
    font-size: 12px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.views>.text-1 {
    font-size: 12px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.views>.text-2 {
    font-size: 12px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.clicks>.text-1 {
    font-size: 12px;
  }

  .analytics>.tables>.table-2>.card>.card-body>.tab-content>.tab-pane>.cards>.card>.stats>.clicks>.text-2 {
    font-size: 12px;
  }
}