.media-list {
  height: 13%;
}

.media-list .media-data-section {
  padding-left: 0.858%;
  padding-right: 0.85%;

  margin-bottom: 0.5rem;

  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 6.875rem;
}

.media-list .media-data-section .section-1 {
  width: 15%;
}

.media-list .media-data-section .section-2 {
  width: 10%;
}

.media-list .media-data-section .section-3 {
  width: 30%;
}

.media-list .media-data-section .section-4 {
  width: 15%;
}

.media-list .media-data-section .section-5 {
  width: 10%;
}

.media-list .media-data-section .section-6 {
  width: 10%;
}

.media-list .media-data-section .section-7 {
  width: 10%;
}

.media-list .media-data-section .section-3,
.media-list .media-data-section .section-4 {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.media-list .media-data-section .section-1 .thumbnail {
  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: url(../images/bg.png), lightgray 50% / cover no-repeat;
  backdrop-filter: blur(10px);

  width: 7.8125rem;
  height: 5.6875rem;
}

.media-list .media-data-section .section-2 span,
.media-list .media-data-section .section-3 .text span,
.media-list .media-data-section .section-4 .text span,
.media-list .media-data-section .section-5 span,
.media-list .media-data-section .section-6 span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 232.9%;
}

.media-list .media-data-section .section-3 .edit {
  background-image: url(../images/material-symbols_edit-outline.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1rem;
  height: 1rem;

  cursor: pointer;
}

.media-list .media-data-section .section-4 .info {
  background-image: url(../images/fluent_info-12-regular.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1rem;
  height: 1rem;

  cursor: pointer;
}

.media-list .media-data-section .section-7 {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.media-list .media-data-section .section-7 .action-1 {
  background-image: url(../images/uil_play.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1.49738rem;
  height: 1.5rem;

  cursor: pointer;
}

.media-list .media-data-section .section-7 .action-2 {
  background-image: url(../images/tabler_tags.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1.49738rem;
  height: 1.5rem;

  cursor: pointer;
}

.media-list .media-data-section .section-7 .action-3 {
  background-image: url(../images/ion_analytics-outline.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1.49738rem;
  height: 1.5rem;

  cursor: pointer;
}

.media-list .media-data-section .section-7 .action-4 {
  background-image: url(../images/material-symbols_download.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1.49738rem;
  height: 1.5rem;

  cursor: pointer;
}

.tags {
  overflow: auto;
  height: 87%;
  position: relative;
}

.tags div {
  padding-right: 1%;
}

.tags .heading-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.tags .heading-section .section-1 {
  width: 20%;
}

.tags .heading-section .section-2 {
  width: 25%;
}

.tags .heading-section .section-3 {
  width: 55%;
}

.tags .heading-section .section-1 span,
.tags .heading-section .section-2 span,
.tags .heading-section .section-3 span {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 173.9%;
  letter-spacing: 0.09344rem;
  text-transform: uppercase;
}

.tags .tags-data-section {
  padding-left: 2%;
  padding-right: 2%;

  margin-bottom: 1%;

  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 4.3125rem;
}

.tags .tags-data-section .section-1 {
  width: 20%;
}

.tags .tags-data-section .section-2 {
  width: 25%;
}

.tags .tags-data-section .section-3 {
  width: 55%;
}

.tags .tags-data-section .section-1 span,
.tags .tags-data-section .section-2 span,
.tags .tags-data-section .section-3 span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 232.9%;
}
