.connected-profiles {
  overflow: auto;
  height: 100%;
}

.connected-profiles .profile-card {
  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);
  padding: 2% 2% 1% 2%;
  margin-bottom: 1rem;
  z-index: 0;
}

.connected-profiles .profile-card:hover {
  box-shadow: 3px 8px 12px -6px rgba(0, 0, 0, 0.72);
}

.connected-profiles .profile-card > .section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.connected-profiles .profile-card > .section > .first-half {
  display: flex;
  justify-content: space-between;
}

.connected-profiles .profile-card > .section > .first-half > .logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.connected-profiles
  .profile-card
  > .section
  > .first-half
  > .logo-text
  > div
  > span {
  color: #150337;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.connected-profiles .profile-card > .section > .first-half > .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.connected-profiles
  .profile-card
  > .section
  > .first-half
  > .buttons
  > .button-primary
  > button {
  width: 10.0625rem;
  height: 2.5rem;

  border-radius: 0.9375rem;
  background: linear-gradient(131deg, #a77dfc 0%, #d458ff 100%);

  border: none;

  color: #fff;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.connected-profiles
  .profile-card
  > .section
  > .first-half
  > .buttons
  > .button-secondary
  > form {
  width: 10.0625rem;
  height: 2.5rem;

  border-radius: 0.9375rem;
  border: 1px solid #5e17eb;
  background: #ffffff;

  color: #150337;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-profiles .profile-card > .section > .second-half {
  display: flex;
  padding: 1% 1% 0% 1%;
  border-top: 1px solid #0000003d;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.connected-profiles .profile-card > .section > .second-half > .text-line-1 {
  width: 13.5625rem;
  height: 2.4375rem;

  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  background: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-profiles
  .profile-card
  > .section
  > .second-half
  > .text-line-1
  > span {
  color: #150337;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.connected-profiles .profile-card > .section > .second-half > .text-line-2 {
  width: 20.6875rem;
  height: 2.4375rem;

  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  background: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-profiles
  .profile-card
  > .section
  > .second-half
  > .text-line-2
  > span {
  color: #150337;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media (max-width: 568px) {
  .connected-profiles .profile-card > .section > .first-half {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .connected-profiles .profile-card > .section > .first-half > .buttons {
    flex-direction: column;
  }

  .connected-profiles .profile-card > .section > .second-half {
    flex-direction: column;
  }
}
