.sidebar {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 15%;

  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;

  z-index: 3;
}

.sidebar .logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  height: 10%;
}

.sidebar > .logo > .div-left {
  width: 70%;
}

.sidebar > .logo > .div-right {
  width: 2rem;
  height: 2rem;
  border-radius: 0.625rem;
  background: #ede9fa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: inherit;
  display: none;
}

.sidebar .brand-item {
  display: flex;
  flex-direction: row;
  padding: 8%;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.sidebar .brand-item-dropdown .dropdown-menu {
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  background: #fff;

  padding: 3%;

  width: 100%;
}

.sidebar .brand-item-dropdown .dropdown-menu .dropdown-item {
  color: #150337;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  border-bottom: 1px solid #621dec52;
}

.sidebar .brand-item-dropdown .dropdown-menu .new-dropdown-item {
  color: #601aec;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  border-bottom: none !important;

  padding: 5%;
}

.sidebar .setting-item-dropdown .dropdown-menu {
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  background: #fff;

  padding: 3%;

  width: 100%;
}

.sidebar .setting-item-dropdown .dropdown-menu .dropdown-item {
  color: #150337;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  border-bottom: 1px solid #621dec52;
}

.sidebar .setting-item-dropdown .dropdown-menu .new-dropdown-item {
  color: #601aec;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  border-bottom: none !important;
}

.sidebar .brand-item .icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar .brand-item .icon-text .icon {
  width: 2rem;
  height: 2rem;
  border-radius: 0.625rem;
  background: #ede9fa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: inherit;
}

.sidebar .brand-item .icon-text .text > span {
  color: #150337;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.bottom {
  position: initial;
  bottom: 0;
  width: 100%;
}

.center {
  width: 100%;
  height: 60%;
  margin-top: 40%;
  flex-grow: 1;
}

.min-padding {
  padding: 4% 8% 4% 8% !important;
}

.sidebar .submenu {
  display: none;
  height: initial;
}

.sidebar .submenu .sub-menu-item .item {
  padding: 3% 0% 3% 19%;
  cursor: pointer;
}

.sidebar .submenu .sub-menu-item .item > div {
  border-left: 1px solid #621dec52;
  padding: 2% 2% 2% 7%;
}

.sidebar .submenu .sub-menu-item .item > div span {
  color: #601aec;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.sidebar .submenu .active-item {
  background: linear-gradient(131deg, #a77dfc 0%, #5e17eb 100%);
  border-radius: 0.9375rem;
}

.sidebar .submenu .active-item .item > div {
  border-left: 1px solid #fff;
}

.sidebar .submenu .active-item .item > div > span {
  color: #fff;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.sidebar .submenu a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 20%;
  }
}

@media (max-width: 950px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 786px) {
  .sidebar {
    width: 50%;
    display: none;
    z-index: 2;
    box-shadow: 3px 0 20px 0 rgba(0, 0, 0, 0.51);
  }

  .sidebar > .logo > .div-right {
    display: block;
  }

  .sidebar-open {
    display: flex;
    transform: translateZ(0);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

@media (max-width: 350px) {
  .sidebar {
    width: 60%;
  }
}
