.tags {
  overflow: auto;
  height: 100%;
  position: relative;
}

.tags div {
  padding-right: 1%;
}

.tags .heading-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.tags .heading-section .section-1 {
  width: 15%;
}

.tags .heading-section .section-2 {
  width: 15%;
}

.tags .heading-section .section-3 {
  width: 55%;
}

.tags .heading-section .section-4 {
  width: 15%;
}

.tags .heading-section .section-1 span,
.tags .heading-section .section-2 span,
.tags .heading-section .section-3 span,
.tags .heading-section .section-4 span {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 173.9%;
  letter-spacing: 0.09344rem;
  text-transform: uppercase;
}

.tags .tags-data-section {
  padding-left: 2%;
  padding-right: 2%;

  margin-bottom: 1%;

  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 4.3125rem;
}

.tags .tags-data-section .section-1 {
  width: 15%;
}

.tags .tags-data-section .section-2 {
  width: 15%;
}

.tags .tags-data-section .section-3 {
  width: 55%;
}

.tags .tags-data-section .section-4 {
  width: 15%;
}

.tags .tags-data-section .section-1 span,
.tags .tags-data-section .section-2 span,
.tags .tags-data-section .section-3 span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 232.9%;
}

.tags .tags-data-section .section-4 {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.tags .tags-data-section .section-4 .action-1 {
  background-image: url(../images/material-symbols_edit-outline.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
}

.tags .tags-data-section .section-4 .action-2 {
  background-image: url(../images/mdi_delete-outline.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
}

.modal .modal-dialog {
  width: 29.625rem;
}

.modal .modal-content {
  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);
}

.modal .modal-content .modal-header {
  border: none;
}

.modal .modal-content .modal-footer {
  border: none;
}

.modal .modal-content .modal-header .heading {
  width: 95%;
}

.modal .modal-content .modal-header .btn-close {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.modal .modal-content .modal-body {
  padding-top: 0;
}

.modal .modal-content .modal-body .create-tag-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  width: 100%;
}

.modal .modal-content .modal-body .create-tag-form .heading {
  margin-bottom: 5%;
}

.modal .modal-content .modal-body .create-tag-form .heading span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.modal .modal-content .modal-body .create-tag-form .form-group {
  width: inherit;
}

.modal .modal-content .modal-body .create-tag-form .form-group > select {
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  padding: 2%;

  height: 3.125rem;

  background: url(../images/Arrow-2.png) no-repeat right #ffffff;
  background-position-x: 97%;

  appearance: none;

  color: #8270a3;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal .modal-content .modal-body .create-tag-form .form-group > select:focus {
  outline: none;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  > input[type="text"] {
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;

  height: 3.125rem;

  color: #8270a3;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  > input::placeholder {
  color: #8270a3;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput {
  background-color: #fff;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;

  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;

  width: 100%;
  height: 11.4375rem;

  color: #8270a3;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;

  overflow: auto;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
  color: #8270a3;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  input::placeholder {
  color: #8270a3;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  input:focus {
  border: none;
  box-shadow: none;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  .tag {
  color: white;

  padding: 0.4375rem 0.75rem;

  border-radius: 0.9375rem;
  background: linear-gradient(131deg, #a77dfc 0%, #5e17eb 100%);

  white-space: nowrap;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  .tag
  [data-role="remove"] {
  display: inline-block;

  background-image: url(../images/majesticons_close-line.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 1.5rem;
  height: 1.5rem;

  vertical-align: middle;

  cursor: pointer;
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  .tag
  [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.modal
  .modal-content
  .modal-body
  .create-tag-form
  .form-group
  .bootstrap-tagsinput
  .tag
  [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.modal .modal-content .modal-body .create-tag-form .note span {
  color: #8270a3;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.modal .modal-content .modal-body .create-tag-form .note {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: inherit;
}

.modal .modal-content .modal-body .create-tag-form .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;

  margin-bottom: 8%;

  width: inherit;
}

.modal .modal-content .modal-body .create-tag-form .buttons .button-1 {
  width: 25%;
}

.modal .modal-content .modal-body .create-tag-form .buttons .button-2 {
  width: 75%;
}

.modal .modal-content .modal-body .create-tag-form .buttons .action-button-1 {
  border-radius: 0.9375rem;

  width: 100%;
  height: 2.5rem;

  border: 1px solid #5e17eb;

  background: transparent;

  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.modal .modal-content .modal-body .create-tag-form .buttons .action-button-2 {
  border-radius: 0.9375rem;
  background: linear-gradient(131deg, #a77dfc 0%, #5e17eb 100%);

  border: none;

  width: 100%;
  height: 2.5rem;

  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

@media (max-width: 490px) {
  .modal .modal-dialog {
    width: initial;
  }
}

@media (max-width: 425px) {
  .modal .modal-content .modal-body .create-tag-form .buttons {
    flex-direction: column;
    justify-content: center;
  }

  .modal .modal-content .modal-body .create-tag-form .buttons .button-1 {
    width: 100%;
  }

  .modal .modal-content .modal-body .create-tag-form .buttons .button-2 {
    width: 100%;
  }
}
