.time {
  /* overflow: auto; */
  height: 100%;
}

.time .filter-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 6%;

  padding-top: 0%;
  padding-right: 3%;
  padding-bottom: 0%;
  padding-left: 3%;
}

.time .filter-div .first-half {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.time .filter-div .first-half > .input {
  width: 100%;
}

.time .filter-div .first-half .text > span {
  color: #150337;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.time .filter-div .first-half > .input select {
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  padding: 2%;

  height: 2.3125rem;
  width: 100%;

  background: url(../images/Arrow-2.png) no-repeat right #ffffff;
  background-position-x: 97%;

  appearance: none;

  color: #8270a3;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.time .filter-div .first-half > .input select:focus {
  outline: none;
}

.time .filter-div .second-half {
  width: 80%;
}

.time .filter-div .second-half .filters .check-box {
  display: flex;
  align-items: center;

  gap: 0.5rem;

  width: unset;
}

.time .filter-div .second-half .filters .check-box input[type="checkbox"] {
  width: 0.875rem;
  height: 0.875rem;
}

.time
  .filter-div
  .second-half
  .filters
  .check-box
  input[type="checkbox"]:checked {
  accent-color: #8270a3;
  border: none;
}

.time .filter-div .second-half .filters .check-box > span {
  color: #67548b;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  white-space: nowrap;
}

.time .filter-div .second-half .filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.time .filter-div .second-half .filters > .filter-1,
.time .filter-div .second-half .filters > .filter-2 {
  width: 44%;
}

.time .filter-div .second-half .filters > .filter-1 > select,
.time .filter-div .second-half .filters > .filter-2 > select {
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  padding: 1%;

  width: 100%;
  height: 2.3125rem;

  background: url(../images/Arrow-2.png) no-repeat right #ffffff;
  background-position-x: 97%;

  appearance: none;

  color: #8270a3;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.time .filter-div .second-half .filters > .filter-1 > select:focus,
.time .filter-div .second-half .filters > .filter-2 > select:focus {
  outline: none;
}

.time .graph-card {
  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  padding: 1rem;

  height: 94%;
}

.time .graph-card > canvas {
  width: 100% !important;
  height: 97% !important;
}

.time .graph-card > .legend-container > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

@media (max-width: 1440px) {
  .time .filter-div .first-half {
    width: 30%;
  }

  .time .filter-div .second-half {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .time .filter-div {
    flex-direction: column;

    height: auto;

    margin-bottom: 1%;
  }

  .time .filter-div > .first-half,
  .time .filter-div > .second-half {
    width: 100%;
  }

  .time .filter-div .first-half > .input select {
    padding: 1%;
  }

  .main-panel .main-content .graph-card {
    height: auto;
  }

  .time .graph-card > canvas {
    height: 100%;
  }
  }

@media (max-width: 786px) {
  .time .filter-div {
    flex-direction: column;
  }

  .time .filter-div > .first-half,
  .time .filter-div > .second-half {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .time .filter-div .second-half .filters {
    flex-direction: column;
  }

  .time .filter-div .second-half .filters > .filter-1,
  .time .filter-div .second-half .filters .check-box,
  .time .filter-div .second-half .filters > .filter-2 {
    width: 100%;
  }
}
