.main-panel {
  width: 85%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.main-panel > .topbar {
  padding: 1% 1% 0% 1%;
  height: 9%;
  position: relative;
  z-index: 1;
}

.main-panel > .topbar > .main-head {
  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(10px);

  padding-left: 1%;
  padding-right: 1%;

  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-panel > .topbar > .main-head > .left-side {
  width: 30%;
}

.main-panel > .topbar > .main-head > .left-side > span {
  color: #150337;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.main-panel > .topbar > .main-head > .left-side > button {
  border-radius: 0.9375rem;
  background: linear-gradient(131deg, #a77dfc 0%, #5e17eb 100%);

  margin-left: 10%;

  border: none;

  width: 10.0625rem;
  height: 2.5rem;

  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.main-panel > .topbar > .main-head > .right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-panel > .topbar > .main-head > .right-side > button {
  display: none;
}

.main-panel .main-content {
  height: 91%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-toggle::after {
  content: none;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-toggle
  > .icon {
  border-radius: 3.75rem;
  background: #fff;

  width: 2.75rem;
  height: 2.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-toggle
  > .icon
  > img {
  max-width: 30px;
  max-height: 30px;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-toggle
  > .text {
  color: #150337;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-menu {
  border-radius: 0.625rem;
  border: 1px solid #dfd9ef;
  background: #fff;

  width: 100%;
  margin-top: 5% !important;

  padding: 2%;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-menu
  > .dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 4%;

  border-bottom: 1px solid #621dec52;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-menu
  > .dropdown-item
  > .icon {
  width: 2rem;
  height: 2rem;

  border-radius: 3.75rem;

  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(151, 137, 178, 0.2));

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-menu
  > .dropdown-item
  > .icon
  > img {
  width: 1.25rem;
  height: 0.875rem;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-menu
  > .dropdown-item
  > .text
  > span {
  color: #150337;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.main-panel
  > .topbar
  > .main-head
  > .right-side
  > .profile-item-dropdown
  > .dropdown-menu
  > .new-dropdown-item {
  color: #601aec;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  border-bottom: none !important;

  padding: 5%;
}

@media (max-width: 1200px) {
  .main-panel {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .main-panel {
    width: 75%;
  }
}

@media (max-width: 786px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    opacity: 0;
  }

  .overlay-visible {
    display: block;
    opacity: 1;
  }

  .main-panel .main-head .right-side > button {
    display: block !important;
  }

  .main-panel {
    width: 100%;
    z-index: 0;
  }
}
