<div class="topbar">
  <div class="main-head">
    <div class="left-side">
      <!-- {% if title == "Tags" or title == "Analytics" %}
      <div class="back-button" onclick="goBack()"></div>
      {% endif %} -->

      {% if title == "Analytics-New" %}
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" id="editor" href="#">Editor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="appearance" href="#">Appearance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="analytics" href="/analytics">Analytics</a>
            </li>
          </ul>
        </div>
      </nav>
      {% else %}
      <span>{{ title }}</span>
      {% endif %}
      {% if title == "Existing Tags" %}
      <button type="button" data-bs-toggle="modal" data-bs-target="#createTagModal">
        Create New
      </button>
      {% endif %}
    </div>
    <div class="right-side">
      <button id="test-button" type="button" class="btn btn-light">
        <i class="bi bi-list"></i>
      </button>
      <div class="btn-group profile-item-dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="icon">
            <img src="../images/logos_youtube-icon.png" alt="" />
          </div>
          <span class="text">Profile Username</span>
          <img src="../images/Arrow-2.png" alt="" />
        </div>
        <ul class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="#">
            <div class="icon">
              <img src="../images/logos_youtube-icon.png" alt="" />
            </div>
            <div class="text">
              <span class="text">Profile Username</span>
            </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="icon">
              <img src="../images/logos_youtube-icon.png" alt="" />
            </div>
            <div class="text">
              <span class="text">Profile Username</span>
            </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="icon">
              <img src="../images/logos_youtube-icon.png" alt="" />
            </div>
            <div class="text">
              <span class="text">Profile Username</span>
            </div>
          </a>
          <a class="new-dropdown-item border-0" href="#"> +Add New Profile </a>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
<script>
  const path = window.location.pathname
  const activePathName = path.split('/');
  document.getElementById(activePathName[1]).classList.add('active')
</script>